Repository munich-quantum-toolkit/core, pull requests merged in 2024-04, with the labels that each got.

#578 🚨 fix a couple of compiler warnings
  src/dd/NoiseFunctionality.cpp
  test/unittests/test_qfr_functionality.cpp
Labels: code quality, c++

#582 ⬆️ update to `pybind11>=2.12`
  noxfile.py
  pyproject.toml
  test/python/constraints.txt
Labels: dependencies, Core, python

#581 ✨ Collect blocks optimization
  include/mqt-core/CircuitOptimizer.hpp
  src/CircuitOptimizer.cpp
  test/unittests/circuit_optimizer/test_collect_blocks.cpp
  test/unittests/circuit_optimizer/test_reorder_operations.cpp
  test/unittests/test_qfr_functionality.cpp
Labels: feature, Core, c++

#584 ♻️⚡ optimize implementation of `collectBlocks`
  include/mqt-core/operations/CompoundOperation.hpp
  src/CircuitOptimizer.cpp
  src/operations/CompoundOperation.cpp
  test/unittests/circuit_optimizer/test_collect_blocks.cpp
Labels: code quality, Core, c++

#585 ♻️ internalize private methods of the circuit optimizer
  include/mqt-core/CircuitOptimizer.hpp
  src/CircuitOptimizer.cpp
Labels: refactor, code quality, Core, c++

#587 🐛 Fix corner case handling for output permutation in defer measurements optimization
  src/CircuitOptimizer.cpp
  test/unittests/circuit_optimizer/test_defer_measurements.cpp
  test/unittests/test_qfr_functionality.cpp
Labels: fix, Core, c++

#586 ✨ Elide permutations optimization
  include/mqt-core/CircuitOptimizer.hpp
  include/mqt-core/operations/CompoundOperation.hpp
  include/mqt-core/operations/Control.hpp
  include/mqt-core/operations/NonUnitaryOperation.hpp
  include/mqt-core/operations/Operation.hpp
  src/CircuitOptimizer.cpp
  src/QuantumComputation.cpp
  src/operations/CompoundOperation.cpp
  src/operations/NonUnitaryOperation.cpp
  src/operations/Operation.cpp
  src/parsers/QCParser.cpp
  test/unittests/circuit_optimizer/test_elide_permutations.cpp
Labels: feature, Core, c++

#591 ♻️ simplify reusable Python CI workflow
  .github/workflows/reusable-python-ci.yml
Labels: continuous integration

#589 📝 New and improved project documentation
  .github/workflows/reusable-code-ql-cpp.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE.md
  README.md
  docs/_static/custom.css
  docs/conf.py
  docs/dd_package_evaluation.ipynb
  docs/dd_package_evaluation.md
  docs/index.md
  docs/installation.md
  docs/quickstart.ipynb
  docs/quickstart.md
  noxfile.py
  pyproject.toml
  src/mqt/core/__init__.py
  src/mqt/core/__main__.py
  src/mqt/core/_commands.py
  src/mqt/core/_core/__init__.pyi
  src/mqt/core/_core/operations.pyi
  src/mqt/core/_core/symbolic.pyi
  src/mqt/core/evaluation.py
  src/mqt/core/io.py
  src/mqt/core/plugins/qiskit.py
  src/python/operations/register_classic_controlled_operation.cpp
  src/python/operations/register_compound_operation.cpp
  src/python/operations/register_control.cpp
  src/python/operations/register_non_unitary_operation.cpp
  src/python/operations/register_operation.cpp
  src/python/operations/register_optype.cpp
  src/python/operations/register_standard_operation.cpp
  src/python/operations/register_symbolic_operation.cpp
  src/python/register_permutation.cpp
  src/python/register_quantum_computation.cpp
  src/python/symbolic/register_expression.cpp
  src/python/symbolic/register_term.cpp
  src/python/symbolic/register_variable.cpp
  test/python/test_evaluation.py
  test/python/test_qiskit.py
Labels: documentation, enhancement, Core, python

#593 🚸 small improvements to `Control` and `Permutation` bindings
  include/mqt-core/Permutation.hpp
  include/mqt-core/operations/Control.hpp
  src/mqt/core/_core/__init__.pyi
  src/mqt/core/_core/operations.pyi
  src/mqt/core/_core/symbolic.pyi
  src/python/operations/register_control.cpp
  src/python/register_permutation.cpp
Labels: usability, Core, python

#592 :sparkles: Support for Qiskit's final_layout
  src/QuantumComputation.cpp
  src/mqt/core/plugins/qiskit.py
  test/python/test_qiskit.py
  test/unittests/test_qfr_functionality.cpp
Labels: enhancement, usability, Core, c++, python

#594 👷♻️ Improved Reusable Workflows
  .github/codecov.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-code-ql-cpp.yml
  .github/workflows/reusable-cpp-ci.yml
  .github/workflows/reusable-cpp-coverage.yml
  .github/workflows/reusable-cpp-tests-macos.yml
  .github/workflows/reusable-cpp-tests-ubuntu.yml
  .github/workflows/reusable-cpp-tests-windows.yml
  .github/workflows/reusable-python-ci.yml
  .github/workflows/reusable-python-minimums.yml
  .github/workflows/reusable-python-packaging.yml
  .github/workflows/reusable-python-tests.yml
  noxfile.py
Labels: usability, refactor, continuous integration, Core

#597 👷🔧🍎 enable Python 3.8+ tests on macos-14 runners
  .github/codecov.yml
  .github/workflows/reusable-python-ci.yml
Labels: continuous integration, python
