Repository munich-quantum-toolkit/core, pull requests merged in 2024-05, with the labels that each got.

#602 🍱 Use centralized images from MQT repository
  README.md
Labels: documentation

#603 🍱 MQT Branding on RtD
  README.md
  docs/_static/erc_dark.svg
  docs/_static/erc_light.svg
  docs/_static/logo-bavaria.svg
  docs/_static/logo-mqv.svg
  docs/_static/tum_dark.svg
  docs/_static/tum_light.svg
  docs/_templates/page.html
  docs/index.md
Labels: documentation

#596 ✨ Support for Neutral Atom Mapper
  .gitignore
  include/mqt-core/CircuitOptimizer.hpp
  include/mqt-core/Definitions.hpp
  include/mqt-core/datastructures/DirectedAcyclicGraph.hpp
  include/mqt-core/datastructures/DirectedGraph.hpp
  include/mqt-core/datastructures/DisjointSet.hpp
  include/mqt-core/datastructures/Layer.hpp
  include/mqt-core/datastructures/UndirectedGraph.hpp
  include/mqt-core/na/NAComputation.hpp
  include/mqt-core/na/NADefinitions.hpp
  include/mqt-core/na/operations/NAGlobalOperation.hpp
  include/mqt-core/na/operations/NALocalOperation.hpp
  include/mqt-core/na/operations/NAOperation.hpp
  include/mqt-core/na/operations/NAShuttlingOperation.hpp
  include/mqt-core/operations/CompoundOperation.hpp
  include/mqt-core/operations/OpType.hpp
  include/mqt-core/operations/Operation.hpp
  include/mqt-core/operations/StandardOperation.hpp
  src/CMakeLists.txt
  src/datastructures/CMakeLists.txt
  src/datastructures/Layer.cpp
  src/na/CMakeLists.txt
  src/na/NAComputation.cpp
  src/na/operations/NAGlobalOperation.cpp
  src/na/operations/NALocalOperation.cpp
  src/na/operations/NAShuttlingOperation.cpp
  src/operations/CompoundOperation.cpp
  src/operations/Operation.cpp
  src/operations/StandardOperation.cpp
  test/CMakeLists.txt
  test/datastructures/CMakeLists.txt
  test/datastructures/test_directed_acyclic_graph.cpp
  test/datastructures/test_directed_graph.cpp
  test/datastructures/test_disjoint_set.cpp
  test/datastructures/test_layer.cpp
  test/datastructures/test_undirected_graph.cpp
  test/na/CMakeLists.txt
  test/na/test_nacomputation.cpp
  test/na/test_nadefinitions.cpp
  test/na/test_naoperation.cpp
  test/test_operation.cpp
Labels: feature, minor, Core, c++

#607 🧱 switch to dedicated reusable MQT workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-code-ql-cpp.yml
  .github/workflows/reusable-code-ql-python.yml
  .github/workflows/reusable-code-ql.yml
  .github/workflows/reusable-cpp-ci.yml
  .github/workflows/reusable-cpp-coverage.yml
  .github/workflows/reusable-cpp-linter.yml
  .github/workflows/reusable-cpp-tests-macos.yml
  .github/workflows/reusable-cpp-tests-ubuntu.yml
  .github/workflows/reusable-cpp-tests-windows.yml
  .github/workflows/reusable-python-ci.yml
  .github/workflows/reusable-python-linter.yml
  .github/workflows/reusable-python-packaging.yml
  .github/workflows/reusable-python-tests.yml
  pyproject.toml
Labels: dependencies, github_actions, continuous integration

#608 🩹 make GMP dependency opt-in instead of used-if-found
  .github/workflows/ci.yml
  cmake/mqt-core-config.cmake.in
  src/CMakeLists.txt
  src/zx/CMakeLists.txt
Labels: dependencies, fix, c++

#609 📦 only install the Python component of MQT Core in Python package builds
  pyproject.toml
  src/mqt/core/__main__.py
  src/mqt/core/_commands.py
  src/python/CMakeLists.txt
  test/python/test_cli.py
Labels: fix, Core, packaging

#612 🧱 switch to new coverage collection workflows
  .github/codecov.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: github_actions, continuous integration

#614 ⬆️ update black version in blacken-docs
  .pre-commit-config.yaml
Labels: dependencies, continuous integration

#610 Hybrid Neutral Atom Mapper Functionality
  include/mqt-core/QuantumComputation.hpp
  include/mqt-core/operations/AodOperation.hpp
  include/mqt-core/operations/OpType.hpp
  include/mqt-core/operations/Operation.hpp
  src/CMakeLists.txt
  src/operations/AodOperation.cpp
  src/operations/StandardOperation.cpp
  test/test_operation.cpp
Labels: enhancement, Core, c++

#615 :zap: faster RtD
  .readthedocs.yaml
Labels: documentation, enhancement, continuous integration

#618 🚸 Better QASM parser exceptions
  include/mqt-core/parsers/qasm3_parser/Exception.hpp
  include/mqt-core/parsers/qasm3_parser/Parser.hpp
  include/mqt-core/parsers/qasm3_parser/passes/ConstEvalPass.hpp
  include/mqt-core/parsers/qasm3_parser/passes/TypeCheckPass.hpp
  src/parsers/QASM3Parser.cpp
  test/unittests/test_qasm3_parser.cpp
Labels: usability, Core, c++

#620 🚨 fix shadowing compiler warnings
  include/mqt-core/operations/AodOperation.hpp
  src/operations/AodOperation.cpp
Labels: code quality, Core, c++
