Repository munich-quantum-toolkit/core, pull requests merged in 2024-08, with the labels that each got.

#655 Layer: Allow Redundant Gates
  include/mqt-core/datastructures/UndirectedGraph.hpp
  src/datastructures/Layer.cpp
  test/datastructures/test_undirected_graph.cpp
Labels: enhancement, Core, c++

#658 Support for Neutral Atom State Preparation
  include/mqt-core/datastructures/Layer.hpp
  src/datastructures/Layer.cpp
  test/datastructures/test_layer.cpp
Labels: feature, Core, c++

#659 🩹📝 fix docs build
  docs/conf.py
Labels: documentation, fix

#660 🎨 Move validation function from qmap to NAComputation
  include/mqt-core/na/NAComputation.hpp
  src/na/NAComputation.cpp
  test/na/test_nacomputation.cpp
Labels: feature, Core, c++

#661 🏷️ providing a convenient `CircuitInputType`
  src/mqt/core/load.py
Labels: usability, Core, python

#664 ⬆️ update to scikit-build-core 0.10
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
Labels: dependencies, Core, python, packaging

#665 ⬆️ update mqt-workflows to v1.3 (moving tag)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Labels: dependencies, github_actions, continuous integration, Core

#667 🔥 remove ECC framework
  include/mqt-core/ecc/Ecc.hpp
  include/mqt-core/ecc/Id.hpp
  include/mqt-core/ecc/Q18Surface.hpp
  include/mqt-core/ecc/Q3Shor.hpp
  include/mqt-core/ecc/Q5Laflamme.hpp
  include/mqt-core/ecc/Q7Steane.hpp
  include/mqt-core/ecc/Q9Shor.hpp
  include/mqt-core/ecc/Q9Surface.hpp
  src/CMakeLists.txt
  src/ecc/CMakeLists.txt
  src/ecc/Ecc.cpp
  src/ecc/Q18Surface.cpp
  src/ecc/Q3Shor.cpp
  src/ecc/Q5Laflamme.cpp
  src/ecc/Q7Steane.cpp
  src/ecc/Q9Shor.cpp
  src/ecc/Q9Surface.cpp
  test/CMakeLists.txt
  test/unittests/test_ecc_functionality.cpp
Labels: usability, refactor, Core, c++

#669 ♻️ miscellaneous changes pulled from #622
  cmake/ExternalDependencies.cmake
  include/mqt-core/ir/operations/CompoundOperation.hpp
  src/ir/parsers/QASM3Parser.cpp
Labels: refactor, Core, c++

#670 🩹 disentangle `mqt-core-dd` and `mqt-core-algo`
  eval/eval_dd_package.cpp
  include/mqt-core/dd/Benchmark.hpp
  src/dd/Benchmark.cpp
  test/algorithms/eval_dynamic_circuits.cpp
  test/algorithms/test_bernsteinvazirani.cpp
  test/algorithms/test_entanglement.cpp
  test/algorithms/test_grover.cpp
  test/algorithms/test_qft.cpp
  test/algorithms/test_qpe.cpp
  test/algorithms/test_random_clifford.cpp
  test/algorithms/test_wstate.cpp
Labels: refactor, fix, DD, c++

#672 🚸 rename algorithms target and adapt nox config
  eval/CMakeLists.txt
  noxfile.py
  src/algorithms/CMakeLists.txt
  test/circuit_optimizer/CMakeLists.txt
Labels: usability, refactor, Core

#673 🚨 fix Qiskit 1.2 deprecation warnings
  pyproject.toml
  src/mqt/core/plugins/qiskit.py
  src/python/qiskit/QuantumCircuit.cpp
  test/python/test_qiskit.py
Labels: code quality, Core, python
