Repository munich-quantum-toolkit/core, pull requests merged in 2024-07, with the labels that each got.

#639 🐛 Support `u` gate when parsing OpenQASM 2
  include/mqt-core/parsers/qasm3_parser/StdGates.hpp
  test/unittests/test_qasm3_parser.cpp
Labels: fix, Core, c++

#640 🚸 make `dd/Package.hpp` export `dd/Package_fwd.hpp`
  include/mqt-core/dd/Benchmark.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/dd/Package.hpp
  src/dd/FunctionalityConstruction.cpp
  src/dd/Simulation.cpp
  test/algorithms/eval_dynamic_circuits.cpp
  test/algorithms/test_entanglement.cpp
  test/algorithms/test_grover.cpp
  test/algorithms/test_qpe.cpp
Labels: usability, code quality, DD, c++

#643 ⚡ only build bindings target for Python package
  pyproject.toml
Labels: Core, python, packaging

#647 🩹 fix erroneous cast in `AodOperation`
  include/mqt-core/operations/AodOperation.hpp
Labels: fix, Core, c++

#651 :sparkles: Add `customGate` flag and optimizer functionality to flatten only custom gates
  include/mqt-core/CircuitOptimizer.hpp
  include/mqt-core/operations/CompoundOperation.hpp
  src/CircuitOptimizer.cpp
  src/operations/CompoundOperation.cpp
  src/parsers/QASM3Parser.cpp
  test/unittests/test_qfr_functionality.cpp
Labels: enhancement, Core, c++
