Repository munich-quantum-toolkit/core, pull requests merged in 2025-08, with the labels that each got.

#1096 ♻️ Add `StatefulOpConversionPattern` class
  mlir/lib/Conversion/MQTDynToMQTOpt/MQTDynToMQTOpt.cpp
Labels: usability, refactor, code quality, c++, MLIR

#996 ✨ Neutral Atom QDMI Device
  .license-tools-config.json
  CHANGELOG.md
  cmake/ExternalDependencies.cmake
  docs/index.md
  docs/na_qdmi_device.md
  include/mqt-core/na/device/Device.hpp
  include/mqt-core/na/device/Generator.hpp
  json/na/device.json
  src/na/CMakeLists.txt
  src/na/device/App.cpp
  src/na/device/CMakeLists.txt
  src/na/device/Device.cpp
  src/na/device/Generator.cpp
  test/na/CMakeLists.txt
  test/na/device/CMakeLists.txt
  test/na/device/test_app.cpp
  test/na/device/test_device.cpp
  test/na/device/test_generator.cpp
Labels: feature, c++, QDMI

#1106 :recycle: MLIR - Update Measure Functionalities
  CHANGELOG.md
  mlir/include/mlir/Dialect/Common/IR/CommonTraits.h
  mlir/include/mlir/Dialect/Common/IR/CommonTraits.td
  mlir/include/mlir/Dialect/MQTDyn/IR/MQTDynOps.td
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptOps.td
  mlir/lib/Conversion/MQTDynToMQTOpt/MQTDynToMQTOpt.cpp
  mlir/lib/Conversion/MQTOptToMQTDyn/MQTOptToMQTDyn.cpp
  mlir/lib/Dialect/MQTOpt/Transforms/FromQuantumComputationPattern.cpp
  mlir/lib/Dialect/MQTOpt/Transforms/ToQuantumComputationPattern.cpp
  mlir/test/Conversion/mqtdyn-to-mqtopt.mlir
  mlir/test/Conversion/mqtopt-to-mqtdyn.mlir
  mlir/test/Dialect/MQTDyn/IR/dialect_features.mlir
  mlir/test/Dialect/MQTOpt/IR/dialect_features.mlir
Labels: enhancement, c++, MLIR

#1010 ✨ MQT QDMI Driver
  CHANGELOG.md
  cmake/ExternalDependencies.cmake
  include/mqt-core/na/device/Device.hpp
  include/mqt-core/na/device/Generator.hpp
  include/mqt-core/qdmi/Driver.hpp
  json/na/device.json
  pyproject.toml
  src/CMakeLists.txt
  src/na/CMakeLists.txt
  src/na/device/CMakeLists.txt
  src/na/device/Device.cpp
  src/na/device/DynDevice.cpp
  src/qdmi/CMakeLists.txt
  src/qdmi/Driver.cpp
  test/CMakeLists.txt
  test/na/device/test_app.cpp
  test/na/device/test_device.cpp
  test/qdmi/CMakeLists.txt
  test/qdmi/test_driver.cpp
Labels: enhancement, minor, c++, QDMI

#1116 ✨ Add `Qubit` operation to `mqtopt` dialect
  CHANGELOG.md
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptOps.td
  mlir/lib/Conversion/MQTOptToMQTRef/MQTOptToMQTRef.cpp
  mlir/lib/Conversion/MQTRefToMQTOpt/MQTRefToMQTOpt.cpp
  mlir/test/Conversion/mqtopt-to-mqtref.mlir
  mlir/test/Conversion/mqtref-to-mqtopt.mlir
  mlir/test/Dialect/MQTOpt/IR/dialect_features.mlir
  mlir/test/Dialect/MQTRef/IR/dialect_features.mlir
Labels: enhancement, c++, MLIR

#1147 📝 Integrate generated MLIR documentation
  .readthedocs.yaml
  CHANGELOG.md
  CMakeLists.txt
  docs/index.md
  docs/mlir.md
  docs/mlir/.gitignore
  docs/mlir/Conversions.md
  docs/mlir/MQTOpt.md
  docs/mlir/MQTRef.md
  docs/mlir/index.md
  mlir/include/mlir/Conversion/MQTOptToMQTRef/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTOpt/IR/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptOps.td
  mlir/include/mlir/Dialect/MQTOpt/Transforms/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTOpt/Transforms/Passes.td
  mlir/include/mlir/Dialect/MQTRef/IR/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTRef/IR/MQTRefOps.td
  mlir/include/mlir/Dialect/MQTRef/Transforms/CMakeLists.txt
Labels: documentation, MLIR

#1156 👷 Improve MLIR CI
  .github/scripts/setup-mlir.ps1
  .github/scripts/setup-mlir.sh
  .github/workflows/ci.yml
  .github/workflows/ci_mlir.yml
  .github/workflows/reusable-mlir-tests.yml
Labels: continuous integration, MLIR

#1151 :sparkles: Implement elide permutations pass in MLIR
  CHANGELOG.md
  mlir/include/mlir/Dialect/MQTOpt/Transforms/Passes.h
  mlir/include/mlir/Dialect/MQTOpt/Transforms/Passes.td
  mlir/lib/Dialect/MQTOpt/Transforms/ElidePermutations.cpp
  mlir/lib/Dialect/MQTOpt/Transforms/ElidePermutationsPattern.cpp
  mlir/test/Dialect/MQTOpt/Transforms/elide-permutations.mlir
Labels: enhancement, c++, MLIR

#1165 🍎🔥 Stop testing on `x86` macOS and shipping wheels for Intel-based Macs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/reusable-mlir-tests.yml
  CHANGELOG.md
  UPGRADING.md
  cmake/StandardProjectSettings.cmake
  pyproject.toml
Labels: continuous integration, minor

#1159 ♻️ Rework CI caching
  .github/workflows/reusable-mlir-tests.yml
  cmake/Cache.cmake
  pyproject.toml
Labels: continuous integration, c++, extensive-cpp-ci, extensive-python-ci

#1172 ✏️ fix DD documentation page
  docs/dd_package.md
Labels: documentation
