Repository munich-quantum-toolkit/core, pull requests merged in 2025-02, with the labels that each got.

#822 ♻️ Refactor QASM import functionality and remove deprecated formats
  docs/mqt_core_ir.md
  include/mqt-core/Definitions.hpp
  include/mqt-core/ir/QuantumComputation.hpp
  include/mqt-core/ir/parsers/qasm3_parser/Token.hpp
  include/mqt-core/qasm3/Exception.hpp
  include/mqt-core/qasm3/Gate.hpp
  include/mqt-core/qasm3/Importer.hpp
  include/mqt-core/qasm3/InstVisitor.hpp
  include/mqt-core/qasm3/NestedEnvironment.hpp
  include/mqt-core/qasm3/Parser.hpp
  include/mqt-core/qasm3/Scanner.hpp
  include/mqt-core/qasm3/Statement.hpp
  include/mqt-core/qasm3/Statement_fwd.hpp
  include/mqt-core/qasm3/StdGates.hpp
  include/mqt-core/qasm3/Token.hpp
  include/mqt-core/qasm3/Types.hpp
  include/mqt-core/qasm3/Types_fwd.hpp
  include/mqt-core/qasm3/passes/CompilerPass.hpp
  include/mqt-core/qasm3/passes/ConstEvalPass.hpp
  include/mqt-core/qasm3/passes/TypeCheckPass.hpp
  src/CMakeLists.txt
  src/algorithms/Grover.cpp
  src/ir/QuantumComputation.cpp
  src/ir/parsers/QASM3Parser.cpp
  src/ir/parsers/QCParser.cpp
  src/ir/parsers/RealParser.cpp
  src/ir/parsers/TFCParser.cpp
  src/ir/parsers/qasm3_parser/Statement.cpp
  src/mqt/core/__init__.py
  src/mqt/core/ir/__init__.pyi
  src/python/ir/CMakeLists.txt
  src/python/ir/register_quantum_computation.cpp
  src/qasm3/CMakeLists.txt
  src/qasm3/Importer.cpp
  src/qasm3/Parser.cpp
  src/qasm3/Scanner.cpp
  src/qasm3/Statement.cpp
  src/qasm3/Token.cpp
  src/qasm3/Types.cpp
  src/qasm3/passes/ConstEvalPass.cpp
  src/qasm3/passes/TypeCheckPass.cpp
  test/circuit_optimizer/CMakeLists.txt
  test/circuit_optimizer/test_remove_final_measurements.cpp
  test/circuits/test.qc
  test/circuits/test.real
  test/circuits/test.tfc
  test/dd/CMakeLists.txt
  test/dd/test_dd_functionality.cpp
  test/ir/CMakeLists.txt
  test/ir/test_io.cpp
  test/ir/test_qasm3_parser.cpp
  test/ir/test_qfr_functionality.cpp
  test/ir/test_real_parser.cpp
  test/na/CMakeLists.txt
  test/na/test_nadefinitions.cpp
  test/zx/CMakeLists.txt
  test/zx/test_expression.cpp
  test/zx/test_zx_functionality.cpp
Labels: refactor, code quality, Core, c++, extensive-cpp-ci

#543 ✨ Add State Preparation Algorithm
  include/mqt-core/algorithms/StatePreparation.hpp
  include/mqt-core/dd/Simulation.hpp
  src/algorithms/CMakeLists.txt
  src/algorithms/StatePreparation.cpp
  test/algorithms/test_statepreparation.cpp
Labels: feature, Core, c++

#832 🚸 Add support for indexed identifiers and improve OpenQASM handling
  include/mqt-core/qasm3/Importer.hpp
  include/mqt-core/qasm3/InstVisitor.hpp
  include/mqt-core/qasm3/Parser.hpp
  include/mqt-core/qasm3/Statement.hpp
  include/mqt-core/qasm3/Statement_fwd.hpp
  include/mqt-core/qasm3/Types.hpp
  include/mqt-core/qasm3/passes/ConstEvalPass.hpp
  include/mqt-core/qasm3/passes/TypeCheckPass.hpp
  src/ir/operations/ClassicControlledOperation.cpp
  src/qasm3/Importer.cpp
  src/qasm3/Parser.cpp
  src/qasm3/passes/ConstEvalPass.cpp
  src/qasm3/passes/TypeCheckPass.cpp
  test/dd/test_dd_functionality.cpp
  test/ir/test_io.cpp
  test/ir/test_qasm3_parser.cpp
Labels: enhancement, Core, c++

#838 ✨🐍 DD Package Python bindings
  docs/conf.py
  docs/dd_package_evaluation.md
  include/mqt-core/dd/Edge.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/dd/Package.hpp
  pyproject.toml
  src/dd/Edge.cpp
  src/dd/Simulation.cpp
  src/mqt/core/dd.pyi
  src/mqt/core/dd/__init__.py
  src/mqt/core/dd_evaluation.py
  src/python/CMakeLists.txt
  src/python/dd/CMakeLists.txt
  src/python/dd/register_dd.cpp
  src/python/dd/register_dd_package.cpp
  src/python/dd/register_matrix_dds.cpp
  src/python/dd/register_vector_dds.cpp
  test/python/dd/evaluation/results_baseline.json
  test/python/dd/evaluation/results_feature.json
  test/python/dd/evaluation/test_evaluation.py
  test/python/dd/test_dd_package.py
  test/python/dd/test_matrix_dds.py
  test/python/dd/test_vector_dds.py
  test/python/plugins/test_qiskit.py
Labels: feature, DD, c++, python

#831 📝 Add documentation for DD package
  .license-tools-config.json
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/_static/dd-figure-01.svg
  docs/_static/dd-figure-02.svg
  docs/_static/dd-figure-03.svg
  docs/_static/dd-figure-04.svg
  docs/_static/dd-figure-05.svg
  docs/_static/dd-figure-06.svg
  docs/_static/dd-figure-07.svg
  docs/_static/dd-figure-08.svg
  docs/_static/dd-figure-09.svg
  docs/_static/dd-figure-10.svg
  docs/_static/dd-figure-11.svg
  docs/_static/dd-figure-12.svg
  docs/_static/dd-figure-13.svg
  docs/_static/dd-figure.tex
  docs/conf.py
  docs/dd_package.md
  docs/index.md
  docs/lit_header.bib
  docs/references.md
  docs/refs.bib
  include/mqt-core/dd/CachedEdge.hpp
  include/mqt-core/dd/Complex.hpp
  include/mqt-core/dd/ComplexValue.hpp
  include/mqt-core/dd/ComputeTable.hpp
  include/mqt-core/dd/Edge.hpp
  include/mqt-core/dd/FunctionalityConstruction.hpp
  include/mqt-core/dd/GateMatrixDefinitions.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/dd/Package.hpp
  include/mqt-core/dd/Simulation.hpp
  include/mqt-core/dd/UnaryComputeTable.hpp
  pyproject.toml
  src/dd/FunctionalityConstruction.cpp
  src/dd/Simulation.cpp
  src/mqt/core/dd.pyi
  src/python/dd/register_dd.cpp
  src/python/dd/register_matrix_dds.cpp
  src/python/dd/register_vector_dds.cpp
  uv.lock
Labels: documentation, DD, c++

#840 ⬆️ Update googletest and Boost Multiprecision dependencies
  cmake/ExternalDependencies.cmake
Labels: dependencies, Core, c++, extensive-cpp-ci, extensive-python-ci

#841 🔧 Only enable IPO per default for Release builds outside of deployment
  cmake/StandardProjectSettings.cmake
Labels: usability, c++

#842 ✨📝 Rework and modernize the development guide
  .github/contributing.md
  docs/DevelopmentGuide.md
  docs/installation.md
Labels: documentation

#817 📝 Add documentation for ZX-calculus package and C++ API docs setup
  .clang-tidy
  docs/Doxyfile
  docs/_static/ghz.svg
  docs/_static/ghz_simp.svg
  docs/conf.py
  docs/index.md
  docs/zx_package.md
  include/mqt-core/datastructures/SymmetricMatrix.hpp
  include/mqt-core/dd/CachedEdge.hpp
  include/mqt-core/dd/ComputeTable.hpp
  include/mqt-core/dd/Edge.hpp
  include/mqt-core/dd/FunctionalityConstruction.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/dd/Package.hpp
  include/mqt-core/dd/UniqueTable.hpp
  include/mqt-core/ir/QuantumComputation.hpp
  include/mqt-core/ir/operations/Expression.hpp
  include/mqt-core/qasm3/Exception.hpp
  include/mqt-core/qasm3/Importer.hpp
  include/mqt-core/qasm3/NestedEnvironment.hpp
  include/mqt-core/zx/FunctionalityConstruction.hpp
  include/mqt-core/zx/Rational.hpp
  include/mqt-core/zx/Rules.hpp
  include/mqt-core/zx/Simplify.hpp
  include/mqt-core/zx/Utils.hpp
  include/mqt-core/zx/ZXDefinitions.hpp
  include/mqt-core/zx/ZXDiagram.hpp
  noxfile.py
  pyproject.toml
  src/python/dd/register_dd_package.cpp
  src/zx/Simplify.cpp
  src/zx/ZXDiagram.cpp
  uv.lock
Labels: documentation, ZX, c++
