Repository munich-quantum-toolkit/core, pull requests merged in 2025-01, with the labels that each got.

#789 📝 Rework existing project documentation
  .github/contributing.md
  docs/index.md
  docs/installation.md
  docs/mqt_core_ir.md
  docs/quickstart.md
  include/mqt-core/ir/operations/ClassicControlledOperation.hpp
  pyproject.toml
  src/mqt/core/ir/__init__.pyi
  test/ir/test_io.cpp
  uv.lock
Labels: documentation, Core

#797 🚸 slightly tweak how optional qiskit dependency is handled
  src/mqt/core/__init__.py
  src/mqt/core/plugins/qiskit.py
  test/python/test_load.py
  test/python/test_qiskit.py
Labels: usability, Core, python

#662 ✨ ship shared C++ libraries with mqt-core Python package
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  cmake/CompilerOptions.cmake
  cmake/StandardProjectSettings.cmake
  include/mqt-core/dd/RealNumber.hpp
  include/mqt-core/python/qiskit/QuantumCircuit.hpp
  pyproject.toml
  src/CMakeLists.txt
  src/mqt/core/__init__.py
  src/mqt/core/__main__.py
  src/mqt/core/_commands.py
  src/python/qiskit/QuantumCircuit.cpp
  test/python/test_cli.py
Labels: usability, feature, major, Core, c++, python, packaging

#802 🔒 update to latest `uv` version that properly supports dynamically versioned packages
  pyproject.toml
  uv.lock
Labels: dependencies, Core, python, packaging

#807 ♻️ Refactor and improve register handling
  docs/mqt_core_ir.md
  eval/eval_dd_package.cpp
  include/mqt-core/Definitions.hpp
  include/mqt-core/algorithms/BernsteinVazirani.hpp
  include/mqt-core/algorithms/Grover.hpp
  include/mqt-core/circuit_optimizer/CircuitOptimizer.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/ir/QuantumComputation.hpp
  include/mqt-core/ir/Register.hpp
  include/mqt-core/ir/operations/AodOperation.hpp
  include/mqt-core/ir/operations/ClassicControlledOperation.hpp
  include/mqt-core/ir/operations/CompoundOperation.hpp
  include/mqt-core/ir/operations/NonUnitaryOperation.hpp
  include/mqt-core/ir/operations/Operation.hpp
  include/mqt-core/ir/operations/StandardOperation.hpp
  include/mqt-core/ir/operations/SymbolicOperation.hpp
  src/algorithms/BernsteinVazirani.cpp
  src/algorithms/Grover.cpp
  src/algorithms/QFT.cpp
  src/algorithms/QPE.cpp
  src/circuit_optimizer/CircuitOptimizer.cpp
  src/dd/Simulation.cpp
  src/ir/QuantumComputation.cpp
  src/ir/operations/AodOperation.cpp
  src/ir/operations/ClassicControlledOperation.cpp
  src/ir/operations/CompoundOperation.cpp
  src/ir/operations/NonUnitaryOperation.cpp
  src/ir/operations/Operation.cpp
  src/ir/operations/StandardOperation.cpp
  src/ir/operations/SymbolicOperation.cpp
  src/ir/parsers/QASM3Parser.cpp
  src/ir/parsers/RealParser.cpp
  src/mqt/core/ir/__init__.pyi
  src/mqt/core/ir/operations.pyi
  src/mqt/core/ir/registers.pyi
  src/mqt/core/ir/symbolic.pyi
  src/python/ir/operations/register_classic_controlled_operation.cpp
  src/python/ir/operations/register_compound_operation.cpp
  src/python/ir/operations/register_control.cpp
  src/python/ir/operations/register_non_unitary_operation.cpp
  src/python/ir/operations/register_operation.cpp
  src/python/ir/operations/register_optype.cpp
  src/python/ir/operations/register_standard_operation.cpp
  src/python/ir/operations/register_symbolic_operation.cpp
  src/python/ir/register_ir.cpp
  src/python/ir/register_operations.cpp
  src/python/ir/register_quantum_computation.cpp
  src/python/ir/register_registers.cpp
  test/algorithms/eval_dynamic_circuits.cpp
  test/algorithms/test_bernsteinvazirani.cpp
  test/algorithms/test_grover.cpp
  test/circuit_optimizer/test_defer_measurements.cpp
  test/circuit_optimizer/test_eliminate_resets.cpp
  test/dd/test_dd_functionality.cpp
  test/dd/test_dd_noise_functionality.cpp
  test/ir/test_io.cpp
  test/ir/test_operation.cpp
  test/ir/test_qfr_functionality.cpp
Labels: usability, refactor, code quality, Core, c++

#763 🐛 Fix stripping of idle qubits
  src/ir/QuantumComputation.cpp
  test/ir/test_qfr_functionality.cpp
Labels: refactor, fix, Core, c++

#808 🐛 do not invalidate iterator in block collection
  src/circuit_optimizer/CircuitOptimizer.cpp
Labels: fix, Core, c++

#809 🐛 use fuzzy comparison for floating point in const evaluation equality check
  include/mqt-core/ir/parsers/qasm3_parser/passes/ConstEvalPass.hpp
  test/ir/test_qfr_functionality.cpp
Labels: fix, Core, c++

#810 🐛 fix permutation handling in QASM dump
  src/ir/QuantumComputation.cpp
  test/ir/test_io.cpp
Labels: fix, Core, c++

#811 🔧 update Python coverage configuration
  pyproject.toml
Labels: continuous integration, Core, python

#812 👷⬆️ update MQT workflows to v1.7
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: dependencies, github_actions, continuous integration

#752 Refactor handling of gate matrices and inverses
  include/mqt-core/dd/DDpackageConfig.hpp
  include/mqt-core/dd/GateMatrixDefinitions.hpp
  include/mqt-core/dd/Operations.hpp
  include/mqt-core/ir/operations/OpType.hpp
  include/mqt-core/ir/operations/OpType.inc
  include/mqt-core/ir/operations/Operation.hpp
  src/circuit_optimizer/CircuitOptimizer.cpp
  src/dd/GateMatrixDefinitions.cpp
  src/dd/NoiseFunctionality.cpp
  src/dd/Simulation.cpp
  src/ir/QuantumComputation.cpp
  src/ir/operations/AodOperation.cpp
  src/ir/operations/OpType.cpp
  test/dd/test_edge_functionality.cpp
  test/dd/test_package.cpp
Labels: refactor, Core, c++, extensive-cpp-ci

#635 Ancillary and garbage support
  src/ir/parsers/RealParser.cpp
  test/ir/test_real_parser.cpp
Labels: enhancement, Core, c++
