Repository munich-quantum-toolkit/core, pull requests merged in 2025-06, with the labels that each got.

#959 ⚡️ Improve Performance of getNqubits
  CHANGELOG.md
  include/mqt-core/ir/operations/CompoundOperation.hpp
  include/mqt-core/ir/operations/Operation.hpp
  src/ir/operations/CompoundOperation.cpp
  test/ir/test_operation.cpp
Labels: enhancement, fix, Core

#984 ♻️ Move Make-State Functionality To StateGeneration.cpp
  CHANGELOG.md
  UPGRADING.md
  eval/eval_dd_package.cpp
  include/mqt-core/dd/Package.hpp
  include/mqt-core/dd/StateGeneration.hpp
  src/dd/Package.cpp
  src/dd/Simulation.cpp
  src/dd/StateGeneration.cpp
  src/python/dd/register_dd.cpp
  src/python/dd/register_dd_package.cpp
  test/algorithms/test_bernsteinvazirani.cpp
  test/algorithms/test_entanglement.cpp
  test/algorithms/test_qft.cpp
  test/algorithms/test_qpe.cpp
  test/algorithms/test_random_clifford.cpp
  test/algorithms/test_statepreparation.cpp
  test/algorithms/test_wstate.cpp
  test/dd/test_approximations.cpp
  test/dd/test_dd_functionality.cpp
  test/dd/test_dd_noise_functionality.cpp
  test/dd/test_edge_functionality.cpp
  test/dd/test_package.cpp
  test/dd/test_state_generation.cpp
Labels: refactor, DD, c++

#983 🚨 Resolve Qiskit 2.1 Deprecation Warnings
  pyproject.toml
  src/mqt/core/plugins/qiskit/qiskit_to_mqt.py
  test/python/plugins/test_qiskit.py
Labels: dependencies, fix, python

#989 🎨 Tiny improvements for DD compute table and unique table code
  include/mqt-core/dd/ComputeTable.hpp
  include/mqt-core/dd/UnaryComputeTable.hpp
  include/mqt-core/dd/UniqueTable.hpp
Labels: code quality, DD, c++

#1000 🚸 Make CMake function for adding Python bindings reusable
  CMakeLists.txt
  bindings/dd/CMakeLists.txt
  bindings/dd/register_dd.cpp
  bindings/ir/CMakeLists.txt
  bindings/ir/register_ir.cpp
  cmake/AddMQTPythonBinding.cmake
Labels: usability, Core, c++, python

#1004 ⚗️ Test MQTDyn Dialect
  mlir/include/mlir/Dialect/MQTDyn/IR/MQTDynOps.td
  mlir/test/Dialect/MQTDyn/IR/bell_state_reference_dialect.mlir
  mlir/test/Dialect/MQTDyn/IR/dialect_features.mlir
  mlir/test/Dialect/MQTOpt/IR/dialect_features.mlir
Labels: enhancement, c++, MLIR

#1022 ⚡ Speed up test suite
  noxfile.py
  pyproject.toml
  sitecustomize.py
  test/python/test_load.py
  uv.lock
Labels: dependencies, continuous integration, python

#1021 ♻️ Specify Install Components for Wheel
  pyproject.toml
  src/CMakeLists.txt
Labels: python, packaging

#1016 👷🏼🍎 Set up MLIR CI on macOS
  .github/codecov.yml
  .github/workflows/ci_mlir.yml
Labels: continuous integration, MLIR
