Repository munich-quantum-toolkit/core, pull requests merged in 2025-09, with the labels that each got.

#1181 🔥 Drop support for Python 3.9
  CHANGELOG.md
  CMakeLists.txt
  README.md
  UPGRADING.md
  noxfile.py
  pyproject.toml
  python/mqt/core/_commands.py
  python/mqt/core/dd.pyi
  python/mqt/core/plugins/qiskit/mqt_to_qiskit.py
  python/mqt/core/plugins/qiskit/qiskit_to_mqt.py
  test/python/dd/test_matrix_dds.py
  uv.lock
Labels: dependencies, minor, python

#1164 ✨ Support importing `IfElseOpereration`s to `MQTRef`
  CHANGELOG.md
  include/mqt-core/ir/operations/IfElseOperation.hpp
  mlir/lib/Dialect/MQTRef/Translation/CMakeLists.txt
  mlir/lib/Dialect/MQTRef/Translation/ImportQuantumComputation.cpp
  mlir/unittests/translation/CMakeLists.txt
  mlir/unittests/translation/test_translation.cpp
  src/ir/operations/IfElseOperation.cpp
  test/ir/test_qasm3_parser.cpp
Labels: enhancement, c++, MLIR

#1208 🔧 Trigger RTD Build also on Changes in MLIR Directory
  .readthedocs.yaml
Labels: documentation, fix, MLIR

#1209 🚸 Define custom assembly formats for MLIR operations
  .github/scripts/setup-mlir.sh
  .github/workflows/reusable-mlir-tests.yml
  CHANGELOG.md
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptDialect.h
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptOps.td
  mlir/include/mlir/Dialect/MQTRef/IR/MQTRefDialect.h
  mlir/include/mlir/Dialect/MQTRef/IR/MQTRefOps.td
  mlir/lib/Dialect/MQTOpt/IR/MQTOptOps.cpp
  mlir/lib/Dialect/MQTRef/IR/MQTRefOps.cpp
  mlir/test/Conversion/mqtopt-to-mqtref.mlir
  mlir/test/Conversion/mqtref-to-mqtopt.mlir
  mlir/test/Dialect/MQTOpt/IR/dialect_features.mlir
  mlir/test/Dialect/MQTOpt/Transforms/branch-opt.mlir
  mlir/test/Dialect/MQTOpt/Transforms/to-quantum-computation.mlir
  mlir/test/Dialect/MQTRef/IR/dialect_features.mlir
  mlir/unittests/translation/test_translation.cpp
Labels: usability, MLIR

#1216 📝 Optimize MLIR documentation setup
  .readthedocs.yaml
  CMakeLists.txt
  cmake/CleanMLIRDocs.cmake
  docs/mlir/MQTOpt.md
  docs/mlir/MQTRef.md
  docs/mlir/index.md
  pyproject.toml
  uv.lock
Labels: documentation

#1211 ♻️ Replace MLIR `QubitRegister` types with `memref`
  CHANGELOG.md
  docs/mlir/MQTRef.md
  docs/mlir/index.md
  mlir/include/mlir/Conversion/MQTOptToMQTRef/MQTOptToMQTRef.td
  mlir/include/mlir/Conversion/MQTRefToMQTOpt/MQTRefToMQTOpt.td
  mlir/include/mlir/Dialect/MQTOpt/IR/MQTOptOps.td
  mlir/include/mlir/Dialect/MQTRef/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTRef/IR/MQTRefOps.td
  mlir/include/mlir/Dialect/MQTRef/Transforms/CMakeLists.txt
  mlir/include/mlir/Dialect/MQTRef/Transforms/Passes.h
  mlir/include/mlir/Dialect/MQTRef/Transforms/Passes.td
  mlir/lib/Conversion/MQTOptToMQTRef/MQTOptToMQTRef.cpp
  mlir/lib/Conversion/MQTRefToMQTOpt/MQTRefToMQTOpt.cpp
  mlir/lib/Conversion/MQTRefToQIR/MQTRefToQIR.cpp
  mlir/lib/Conversion/QIRToMQTRef/QIRToMQTRef.cpp
  mlir/lib/Dialect/MQTOpt/Transforms/FromQuantumComputationPattern.cpp
  mlir/lib/Dialect/MQTOpt/Transforms/ToQuantumComputationPattern.cpp
  mlir/lib/Dialect/MQTRef/CMakeLists.txt
  mlir/lib/Dialect/MQTRef/Transforms/CMakeLists.txt
  mlir/lib/Dialect/MQTRef/Transforms/ConstantFoldExtractQubitPattern.cpp
  mlir/lib/Dialect/MQTRef/Transforms/ConstantFolding.cpp
  mlir/lib/Dialect/MQTRef/Translation/ImportQuantumComputation.cpp
  mlir/test/Conversion/mqtopt-to-mqtref.mlir
  mlir/test/Conversion/mqtref-to-mqtopt.mlir
  mlir/test/Conversion/mqtref-to-qir.mlir
  mlir/test/Conversion/qir-to-mqtref.mlir
  mlir/test/Dialect/MQTOpt/IR/dialect_features.mlir
  mlir/test/Dialect/MQTOpt/Transforms/branch-opt.mlir
  mlir/test/Dialect/MQTOpt/Transforms/gate-elimination.mlir
  mlir/test/Dialect/MQTOpt/Transforms/merge-rotation-gates.mlir
  mlir/test/Dialect/MQTOpt/Transforms/to-quantum-computation.mlir
  mlir/test/Dialect/MQTRef/IR/dialect_features.mlir
  mlir/test/Dialect/MQTRef/Transforms/constant-folding.mlir
  mlir/tools/quantum-opt/CMakeLists.txt
  mlir/tools/quantum-opt/quantum-opt.cpp
  mlir/unittests/translation/test_translation.cpp
Labels: refactor, c++, MLIR
